@import "https://fonts.googleapis.com/css?family=Fredoka:0,600;0,500&display=swap";
@import "https://fonts.googleapis.com/css?family=Glory:0,400;0,500&display=swap";
@import "https://fonts.googleapis.com/css?family=Fredoka:0,600;0,500&display=swap";
.HomeSemLogin_2047_11581 {
  background: var(--Branco, #fff);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Frame_9_2047_11582 {
  flex-flow: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 380px;
  padding-bottom: 114px;
  display: flex;
}
.Challenges_2047_11583 {
  color: var(--Preto, #000);
  font-family: Fredoka;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}
.Card_2047_11584 {
  background: var(--Branco, #fff);
  border-radius: 8px;
  align-items: flex-start;
  gap: 16px;
  height: 192px;
  padding: 12px;
  display: flex;
  box-shadow: 0 4px 12px #00000040;
}
.Rectangle_3_2047_11527 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  border-radius: 8px;
  width: 99px;
}
.Frame_8_2047_11528 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Frame_7_2047_11529 {
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 24px;
  display: flex;
}
.Title_2047_11530 {
  color: var(--Preto, #000);
  font-family: Fredoka;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.BodyTextBodyTextBodyText_2047_11531 {
  color: var(--Preto, #000);
  height: 90px;
  font-family: Glory;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.SeeMore_2047_11532 {
  color: var(--Verde-Escuro, #227c70);
  text-align: right;
  font-family: Glory;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.Frame_7_2047_11585 {
  background: var(--Branco, #fff);
  border-radius: 8px;
  align-items: flex-start;
  gap: 16px;
  height: 192px;
  padding: 12px;
  display: flex;
  box-shadow: 0 4px 12px #00000040;
}
.Frame_8_2047_11552 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Frame_7_2047_11553 {
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 24px;
  display: flex;
}
.Title_2047_11554 {
  color: var(--Preto, #000);
  font-family: Fredoka;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.BodyTextBodyTextBodyText_2047_11555 {
  color: var(--Preto, #000);
  height: 90px;
  font-family: Glory;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.SeeMore_2047_11556 {
  color: var(--Verde-Escuro, #227c70);
  font-family: Glory;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.Rectangle_3_2047_11551 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  border-radius: 8px;
  width: 99px;
}
.Frame_8_2047_11586,
.Frame_9_2047_11587,
.Frame_10_2047_11588 {
  background: var(--Branco, #fff);
  border-radius: 8px;
  align-items: flex-start;
  gap: 16px;
  height: 192px;
  padding: 12px;
  display: flex;
  box-shadow: 0 4px 12px #00000040;
}
.Article_2047_11589 {
  width: 1242px;
  height: 214px;
}
.TabBar_2047_11601 {
  background: var(--Branco, #fff);
  flex-direction: column;
  align-items: center;
  width: 412px;
  display: flex;
  box-shadow: 0 -4px 12px #00000040;
}
.Tabs_2010_11456 {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}
.TabBarMenus_2010_11457 {
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  display: flex;
}
.Icons_2010_11557 {
  width: 28px;
  height: 28px;
}
.Label_2010_11558 {
  color: var(--Preto, #000);
  text-align: center;
  font-family: Fredoka;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.TabBarMenus_2010_11458 {
  flex-direction: column;
  flex: 1 0 0;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  padding-top: 8px;
  display: flex;
}
.Frame_10_2010_11560 {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
}
.Icons_2010_11561 {
  width: 28px;
  height: 28px;
}
.Label_2010_11562 {
  color: var(--Verde-Escuro, #227c70);
  text-align: center;
  font-family: Fredoka;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.Rectangle_65_2010_11563 {
  background: var(--Verde-Escuro, #227c70);
  flex-shrink: 0;
  height: 2px;
}
.HomeIndicator_2010_11459 {
  justify-content: center;
  align-items: center;
  width: 412px;
  height: 30px;
  padding: 17px 139px 8px;
  display: flex;
}
.HomeIndicator_2010_11460 {
  background: var(--Azul-Escuro, #0b3c49);
  border-radius: 100px;
  flex-shrink: 0;
  width: 134px;
  height: 5px;
}
.Rectangle_34_2047_11602 {
  background: var(--Branco, #fff);
  width: 412px;
  height: 60px;
}
.Frame_11_2047_11603 {
  justify-content: center;
  align-items: center;
  gap: 109px;
  padding: 8px;
  display: inline-flex;
}
.Icons_2047_11604 {
  width: 28px;
  height: 28px;
}
.EcoZitos_2047_11605 {
  color: var(--Azul-Escuro, #0b3c49);
  text-align: center;
  letter-spacing: -0.704px;
  font-family: Fredoka;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}
.StatusBar_2047_11606,
.Bg_105_570 {
  width: 412px;
  height: 40px;
}
.Time_105_571 {
  width: 58px;
  height: 20px;
}
.Group_64_105_646 {
  width: 46px;
  height: 17px;
}
